
<nav class="AlphabetNav">
  <a (click)="mostrarSeries('A')" [routerLink]="[]">A</a>
  <a (click)="mostrarSeries('B')" [routerLink]="[]">B</a>
  <a (click)="mostrarSeries('C')" [routerLink]="[]">C</a>
  <a (click)="mostrarSeries('D')" [routerLink]="[]">D</a>
  <a (click)="mostrarSeries('E')" [routerLink]="[]">E</a>
  <a (click)="mostrarSeries('F')" [routerLink]="[]">F</a>
  <a (click)="mostrarSeries('G')" [routerLink]="[]">G</a>
  <a (click)="mostrarSeries('H')" [routerLink]="[]">H</a>
  <a (click)="mostrarSeries('I')" [routerLink]="[]">I</a>
  <a (click)="mostrarSeries('J')" [routerLink]="[]">J</a>
  <a (click)="mostrarSeries('K')" [routerLink]="[]">K</a>
  <a (click)="mostrarSeries('L')" [routerLink]="[]">L</a>
  <a (click)="mostrarSeries('M')" [routerLink]="[]">M</a>
  <a (click)="mostrarSeries('N')" [routerLink]="[]">N</a>
  <a (click)="mostrarSeries('O')" [routerLink]="[]">O</a>
  <a (click)="mostrarSeries('P')" [routerLink]="[]">P</a>
  <a (click)="mostrarSeries('Q')" [routerLink]="[]">Q</a>
  <a (click)="mostrarSeries('R')" [routerLink]="[]">R</a>
  <a (click)="mostrarSeries('S')" [routerLink]="[]">S</a>
  <a (click)="mostrarSeries('T')" [routerLink]="[]">T</a>
  <a (click)="mostrarSeries('U')" [routerLink]="[]">U</a>
  <a (click)="mostrarSeries('V')" [routerLink]="[]">V</a>
  <a (click)="mostrarSeries('W')" [routerLink]="[]">W</a>
  <a (click)="mostrarSeries('X')" [routerLink]="[]">X</a>
  <a (click)="mostrarSeries('Y')" [routerLink]="[]">Y</a>
  <a (click)="mostrarSeries('Z')" [routerLink]="[]">Z</a>
  <a (click)="mostrarSeries('0')" [routerLink]="[]">0-9</a>
</nav>
<nav class="buscador">
  <form action="/action_page.php" >
    <input type="search" id="gsearch" name="busqueda">
    <input type="button" id="butsearch" value="Buscar" (click)="buscador()">
  </form>
</nav>


<div id = "series">

</div>
